
html, body{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    height: auto;
}

.navigation {
    background-color: #1a1a1a;
    display: flex;
    color: white;
    height: 80px;
    flex-direction: row;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
}

.navigation li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 16px;
}

.navigation a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    text-decoration: none;
}

.last {
    margin-left: auto;
}

.asimovies{
    width: 150px;
    height: 43px;
    padding-left: 25px;
    padding-top: 20px;
}

.capa{
    color: white;
}

.capa span {
    color: red;
}

.capa div {
    display: inline-block;
}

.profile-pic{
    width: 40%;
}

.profile-pic:hover img{
    transition: 1s;
    width: 430px;
}

.profile-pic img{
    width: 400px;
    margin-top: 120px;
    margin-left: 140px;
}

.profile-title{
    width: 59%;
    vertical-align: top;
    margin-top: 210px;
    line-height: 12px;
    margin-left: 11px;
}

.profile-title h1{
    font-size: 62px;
    margin-top: 90px;
}

.profile-title h2{
    font-size: 22px;
}

.main{
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 80px;
    padding-right: 100px;
}

.main h1{
    color: #FF060C;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}

.main h2{
    color: #FF060C;
    font-size: 26px;
    font-weight: normal;
}

.main h3{
    color: #F38479;
    font-size:20px;
}

.main p{
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.main a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    display: block;
}

.port{
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 30px;
    padding-right: 50px;
}

.port h1{
    color: #FF060C;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}

.port h2{
    color: #FF060C;
    font-size: 26px;
    font-weight: normal;
}

.port h3{
    color: #F38479;
    font-size:20px;
}

.port p{
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.cv{
    width: 390px;
    height: 402px;
    float: right;
    border-radius: 50px;
    vertical-align: top;
}

.caminho {
    list-style: none;
    padding-left: 0px;
    color: white;
}

.caminho li{
    display: inline-block;
}

.icone-social{
    margin-right: 10px;
}

.miniatura{
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.trailer {
    display: inline-block;
    margin: 0;
    width:320px;
    height: 320px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 90px;
}

.blackbox:hover{
    background-color: black;
    opacity: 0.8;
}

.blackbox-text{
    text-align: center;
}

.blackbox-text h1{
    font-size: 30px;
    color: #FF060C;
}

.blackbox-text h2{
    font-size: 15px;
    color: white;
}